.questions {
    padding: 80px 0 80px 0;
    background-color: #e5e7eb;
    &__wrapper {
        background-color: #fff;
        padding: 20px 0 20px 0;
    }
    &__form {
        width: 100%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        input {
            margin-bottom: 20px;
            width: 250px;
            height: 45px;
            padding: 10px 10px;
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: left;
        }
        textarea {
            padding: 10px 10px;
            width: 250px;
            resize: none;
        }
    }
    &__btn  {
        width: 250px;
    }
    &__policy {
        margin-top: 20px;
        text-align: center;
    }
    &__modals {
        margin: 0;
        input {
            display: block;
            margin: 0 auto;
            width: 15px;
        }
    }
}